/* App.css */

.app-main {
  padding-top: 180px;
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .app-main {
    padding-top: calc(150px + env(safe-area-inset-top) + 20px);
    padding-bottom: 80px;
  }
}